.example-tab-icon {
  margin-right: 8px;
  font-weight: bold;
}
.tab_content{
    font-size: 20px;
    font-weight:normal ;
    
    
    margin-top: 15px;
    margin-left: 60px;
    line-height: 1.5;
    text-align: justify;
}
.tab_content_header{
	color:rgb(253, 170, 16);
  border-bottom: solid;
  font-weight:bold ;

	border-width: 2px;
	padding-bottom: 2px;
}
.label{
  font-weight: bold;
  color:black;

}
.colored{

	font-size: 15px;
}
.skills-margin{
  padding-top: 60px;
  margin-bottom: 130px
}
