<div id="skills" >
<mat-tab-group class="skills-margin">
    <mat-tab >
        <ng-template mat-tab-label >
            <img src="/assets/pythonicon.ico"> <span class="label">Python</span>
        </ng-template>
        <div class="tab_content">
            <h4 > 
                <span class="tab_content_header">Python Experience:</span>
            </h4>
            <p>
                Python is one of the top popular programming languages of 2019. Python is a general purpose and high level programming language.
                <br>
                I am an expert Python developer with 4 years experince for developing desktop GUI applications, websites and Scripts. Below are some use cases: 
            </p>
            <ul list-style-type='circle'>
                <li class="text-dark">Routine servers Healthcheck Scripts.</li>
                <li>Routine BSCs/BTSs/RNCs/NodeB Healthcheck Scripts.</li>
                <li>Self Healing application.</li>
                <li>IOT Smart parking application.</li>
                <li>IOT Smart building energy saving application.</li>
                <li>IOT platform infrastructure monitoring tool.</li>
                <li>API Orchestration echosystem.</li>
                <li>WEB Scraping</li>
                <li>Database management.</li>
                <li>Migration betwen two diffenrent database type with in time synchronization.</li>
                <li>Unit test.</li>
                <li>etc..</li>
            </ul>
                

        </div>


    </mat-tab>
    <mat-tab >
        <ng-template   mat-tab-label>
            <img src="/assets/djangoicon.ico"> <span class="label">Django</span>
        </ng-template>
        <div class="tab_content">
            <h4 >
                <span class="tab_content_header">
                 Django Experience:
                </span>

            </h4>
            <p>
                Django is considered the best Python web framework, and it’s great for creating     database-driven websites.
                <br>
                Three years back I started my journey with DJANGO framework and I did a lot of different applications 
                <span class="colored">(see Projects)</span> using it which gave me the experince of below:
            </p>
            <ul list-style-type='circle'>
                <li>Session management.</li>
                <li>Cookies management.</li>
                <li>Caching control.</li>
                <li>Rest Framework API.</li>
                <li>Api token authentication.</li>
                <li>Specifing a custom middleware classes.</li>
                <li>Specifing a custom authentication classes.</li>
                <li>Specifing a custom exception classes.</li>
                <li>Specifing a logger class.</li>
                <li>Specifing Database routers
                    <ol type="I">
                        <li>Suggest the database that should be used for read operations</li>
                        <li>Suggest the database that should be used for writes operations</li>
                        <li>provide database High avilabilty</li>
                        <li>provide database load balancing</li>
                    </ol>
                </li>


            </ul>


        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/favicon.ico"> <span class="label">Angular 6</span>
        </ng-template>
        <div class="tab_content">
            <h4 >
                <span class="tab_content_header"> Angular 6 Experience:</span>
            </h4>
            <p>
               Angular is a structural framework for dynamic client side web apps.
               Iam an angular developer with 2 years experience in building frontend application
               <br>
                using Agular allowing me to reuse my code and abilities to build apps for any deployment target. With below Specs:

            </p>
            <ul>
                <li>
                    Support for data maintenance using services.
                </li>
                <li>
                    Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
                </li>
                <li>
                    Easly build custom and reusable animations.
                </li>
                <li>
                    Easly build custom and reusable reactive forms.
                </li>
                <li>
                    Easly build real time web application.
                </li>

            </ul>
        </div>
    </mat-tab>
    <!--<mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/favicon.ico">Type Script
        </ng-template>
        <div class="tab_content">
            <h4 class="tab_content_header"> Type Script Experience:</h4>
        </div>
    </mat-tab>-->
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/elasticicon.ico"> <span class="label">ELK</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">ELK Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/ioticon.ico"> <span class="label">IoT</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">IoT Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/cassandraicon.ico"> <span class="label">Cassandra</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">Cassandra Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/postgresicon.ico"> <span class="label">PostgreSQL</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">PostgreSQL Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/kafkaicon.ico"> <span class="label">Kafka</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">Kafka Experience:</span></h4>
        </div>
    </mat-tab>

</mat-tab-group>
</div>