.sm-img {
       float:right;
       border-radius: 50%;
       height: 80%;
       width: 15%;
     
       margin-left: auto;
       margin-right: auto;
       margin-top:10px;
       margin-bottom: auto;
       
     }
   .sm-img:hover {
       border-radius: 50%;
       height: 80%;
       width: 15%;
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top:10px;
       margin-bottom: auto;
       border-style:solid; 
       border-color:#512DA8;
     }